body {
    background: #000;
    color: #fff;
    line-height: 1.4;
}

.forecast {
    text-align: center;
    font-size: 3em;
}

.forecast.forecast-large {
    font-size: 4em;
    margin: 0 0 40px 0;
}

.wind .wi {
    margin: 0 5px;
} 

.wind .direction {
    margin: 0 5px;
}

.wind .knots {
    margin: 0 5px;
}

.temperature {
    width: 10%;
    height: 0.1em;
    background-color: #fff;
    margin: 0.2em auto 0.6em auto;
    position: relative;
}

    .temperature.fixed {
        width: 100%;
        background-color: inherit;
        margin: 0 auto;
        height: auto;
    }

    .temperature .low {
        position: absolute;
        left: -1.5em;
        top: .1em;
        font-size: 0.4em;
    }

    .temperature .high {
        position: absolute;
        right: -1.5em;
        top: .1em;
        font-size: 0.4em;
    }