body {
    background: #000;
    color: #fff;
    line-height: 1.4;
}

#lastImage {
    display: block;
    margin: 0 auto;
}

#people {
}

    #people .person {
        float: left;
        width: 200px;
        padding: 10px;
        margin: 10px;
    }

        #people .person .image {
            max-width: 200px;
            display: block;
            margin: 0 auto;
        }

        #people .person .name {
            text-align: center;
        }